
/src/ProjectMagma/ProjectMagma/obj
/src/ProjectMagma/ProjectMagma/bin
/src/ProjectMagma/DebugPipeline1/obj
/src/ProjectMagma/DebugPipeline1/bin
/src/ProjectMagma/AnimationComponentLibraryContentPipeline/bin
/src/ProjectMagma/AnimationComponentLibraryContentPipeline/obj
/src/ProjectMagma/AnimationComponentLibrary/bin
/src/ProjectMagma/AnimationComponentLibrary/obj
/src/ProjectMagma/ProjectMagmaContentPipeline/obj
/src/ProjectMagma/ProjectMagmaContentPipeline/bin
/src/ProjectMagma/ProjectMagmaShared/obj
/src/ProjectMagma/ProjectMagmaShared/bin

*.user
*.cachefile
*.suo
/src/ProjectMagma/ProjectMagma/Content/bin
/src/ProjectMagma/ProjectMagma/Content/obj
/src/ProjectMagma/ProjectMagma/Content/cachefile-{40E4CAF0-0F79-43C3-85F2-3A79D2038879}-targetpath.txt